.container{
    width: 260px;
    margin: 0 auto;
}

h1, h2{
    text-align: center;
}

a {
    text-decoration : none;
    color : black;
}

.album{
    width: 260px;
    height: 400px;
    overflow: hidden;
}

.images{
    position: relative;
    display: flex;
    height: 400px;
    transition: transform 0.5s;
}

img{
    width: 260px; height: 400px;
}

button, button:active, button:focus{
    width: 100px; height: 30px; border: none;
    color: white; background-color: black; outline: none;
}

button:hover{
    background-color: darkgray;
}

button:disabled{
    background-color: gray;
}

.prev{
    float: left;
}

.next{
    float:right;
}